body {
    font-family: sans-serif;
  }

h1 {
    font-size: 50px;
   
    color: white;
}
h2 {
  color: rgb(50, 20, 5);
}
.balti-burti-lieli {
  color: white;
  font-size: 1.3em;
  font-family: serif;
  font-weight: lighter;
  
}
.header-container {
    width: 100%;
   height: fit-content;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "brand  brand"
    "global tools";
    background-color: rgb(50, 20, 5);
}

.menu {
   font-size: 15px;
   background-color: white;
   text-align: center;
}

.h-menu1 {grid-area: brand;}
.h-menu2 {grid-area: global;}
.h-menu3 {grid-area: tools;}

.main-container {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
   grid-template-columns: 100%;
   grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "hero-c"
    "article-f"
    "reklame"
    "article-l";
    background-color: rgb(50, 20, 5);
}
.m-menu1 {grid-area: hero-f; display: none; background-color: rgb(50, 20, 5);}
.m-menu2 {grid-area: hero-c; background-color:  rgb(50, 20, 5); padding: 0 1em 0 1em;}
.m-menu3 {grid-area: reklame; background-color: white}
.m-menu4 {grid-area: article-f; padding: 1em;}
.m-menu5 {grid-area: article-l; padding: 1em;}
.m-menu6 {grid-area: sidebar; display: none;}




@media (min-width: 576px){
    .header-container {
      
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "brand global tools";
    }
    .main-container {
        
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
          "hero-f hero-f hero-f hero-f"
          "hero-c hero-c hero-c hero-c"
          "article-f article-f article-f reklame"
          "article-l article-l article-l article-l"
          "sidebar sidebar sidebar sidebar";
      }
      .m-menu1 {display: block;}
      .m-menu6 {display: block;}
    }

@media (min-width: 992px){
    .header-container {
      
        grid-template-columns: 2fr 7fr 3fr;
      grid-template-areas:
        "brand global tools";
    }
    .main-container {
        
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: auto auto;
        grid-template-areas:
          "hero-f hero-f hero-c reklame"
          "article-f article-l article-l sidebar";
      }
      .m-menu1 {display: block;}
      .m-menu6 {display: block;}
    }
.footer {
  background-color: rgb(50, 20, 5);
    width: 100%;
    display: grid;
    padding: 5px;
    text-align: center;
}
.puslaukums {
margin: auto;
  width: 50%; 
  z-index: 100;     
}
.logo {
  width: 50%; 
  z-index: 100;     
}
.pilns-laukums {
  width: 100%; 
  z-index: 100;     
}
hr {
color: rgb(50, 20, 5);
}